<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap font icons css-->
    <link rel="stylesheet" href="/modules/bootstrap-icons/font/bootstrap-icons.css">
    <!-- My style-->
    <link rel="stylesheet" href="/resources/css/style.css">
    
    <title>Sistema para la gestión de aseguramientos de actividades extracurriculares Facultad 4</title>
</head>

<body>

  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="/pantallaGenerica" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="bi bi-house-fill me-3"></i><span>Menú principal</span>
          </a>

          <a href="/admin/responderSolicitudes" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="bi bi-person-vcard-fill me-3"></i><span>Resp. solicitudes</span>
          </a>

          <a href="/admin/usuarios" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="bi bi-people-fill me-3"></i><span>Usuarios</span>
          </a>

          <a href="/admin/aseguramientos" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="bi bi-box-fill me-3"></i><span>Aseguramientos</span>
          </a>

          <a href="/admin/generarReporte" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
            <i class="bi bi-bar-chart-line-fill me-3"></i><span>Generar reporte</span>
          </a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img class="h-100 ms-3" src="/resources/svg/logo_color.svg" width="128">
        </a>

        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!--Notification item-->
          <li class="nav-item me-3">
            <a class="nav-link me-lg-0" href="#" role="button">
              <span class="position-relative top-0 start-100 translate-middle badge rounded-pill bg-danger">#</span>
              <img src="/resources/svg/bell-fill.svg">
            </a>
          </li>
          <!--Notification item-->
          
          <!--Profile dropdown-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= usuario.nombre %> <%= usuario.apellidos %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/cambiarContrasenna">Cambiar contraseña</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/cerrarSesion">Cerrar sesión</a></li>
            </ul>
          </li>
          <!--Profile dropdown-->
        </ul>

      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>

  <div class="main-container">
    <section class="py-3">
      <div class="container">
        <h1 class="fw-bold mb-0">Responder solicitudes</h1>
        <p class="lead text-muted">Echa un vistazo</p>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="card">
            <div class="card-body d-flex justify-content-between align-items-center">
                <!--Search form-->
                <div class="d-flex">
                    <input name="inputBuscarSolicitudesPendientes" id="inputBuscarSolicitudesPendientes" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar">
                    <button name="btnBuscarSolicitudesPendientes" id="btnBuscarSolicitudesPendientes" class="btn btn-outline-success" type="submit" onclick="buscarSolicitudPorNombre()"><i class="bi-search"></i></button>
                </div>
                <!--Search form-->
            </div>
        </div>    
      </div>
    </section>
      <div class="container mt-4">
        <h6 class="text-muted mb-2">Solicitudes pendientes</h6>

        <div class="list-group">
          <% if(typeof(solicitudes) != "undefined") { %>
            <% for (var i = 0; i < solicitudes.length; i++){ %>
              <div class="list-group-item" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%= solicitudes[i].nombre %></h5>
                  <small><%= solicitudes[i].fecha_hora %></small>
                </div>

                <div class="d-flex align-self-center mt-2">
                  <h6><i class="bi bi-geo-alt-fill"></i>Lugar:</h6>
                  <small class="ms-2"><%= solicitudes[i].lugar %></small>
                </div>
    
                <div class="d-flex align-self-center">
                  <h6><i class="bi bi-tag-fill"></i>Área:</h6>
                  <small class="ms-2"><%= solicitudes[i].area %></small>
                </div>
    
                <hr class="hr" />
    
                <div class="d-flex align-self-center">
                  <h6><i class="bi bi-box-fill me-1"></i>Aseguramientos:</h6>
                </div>
    
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                      var aseguramientos = solicitudes[i].aseguramientos.split("///");
                    %>

                    <% for (var h = 0; h < aseguramientos.length; h++) { %>
                      <% var aseguramiento = aseguramientos[h].split("//")%>

                      <tr>
                        <th scope="row"><%= h+1 %></th>
                        <td><%= aseguramiento[1] %></td>
                        <td><%= aseguramiento[2] %></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
    
                <div class="d-flex justify-content-end w-100">
                  <button class="btn btn-primary" onclick="mostrarConfirmacionAprobar('¿Desea aprobar esta solicitud?', '<%= solicitudes[i].id %>')">Aprobar</button>
                <button class="btn btn-danger ms-2" onclick="mostrarConfirmacionDenegar('¿Desea denegar esta solicitud?', '<%= solicitudes[i].id %>')">Denegar</button>
                </div>
              </div>
            <% } %>
          <% } %>
        </div>
      </div>
    <section>

    </section>
  </div>

  <!--jQuery-->
  <script src="../../jquery/jquery-3.6.0.min.js" type="text/javascript"></script>
  <!--Popper-->
  <script src="/modules/@popperjs/core/dist/umd/popper.min.js" type="text/javascript"></script>
  <!--Bootstrap js-->
  <script src="/modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
  <!--My scripts-->
  <script src="../../js/responderSolicitudes.js"></script>
  <!--SweetAlert2 js-->
  <script src="/modules/sweetalert2/dist/sweetalert2.all.min.js"></script>

  <% if(typeof alerta != "undefined") { %>
    <script>
      Swal.fire({
        title: '<%= tituloAlerta %>',
        icon: '<%= iconoAlerta %>',
        showConfirmButton: true,
        timer: 2500
      }).then(()=>{
        window.location = '<%= rutaAlerta %>';
      })
    </script>
  <% } %>

</body>
</html>